<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="../images/logo.jpg" type="image/x-icon"/>
    <link rel="stylesheet" href="../styles/lib/bootstrap.css"/>
    <!--<link rel="stylesheet" href="../styles/define/define_param.css"/>-->
    <!--<link rel="stylesheet" href="../styles/define/body.css"/>-->
    <link rel="stylesheet" href="../styles/define/index.css"/>
    <link rel="stylesheet" href="../styles/define/modals.css"/>
    <!--<link rel="stylesheet" href="../styles/define/customer_list.css"/>-->
    <!--<link rel="stylesheet" href="../styles/define/style.css"/>-->
    <script src="../js/lib/angular.js"></script>
    <script src="../js/lib/angular-ui-router.min.js"></script>
    <script src="../js/lib/ui-bootstrap-tpls.js"></script>
    <script src="../js/lib/angular-cookies.js"></script>
    <!--<script src="../js/lib/bootstrap-dropdown.js"></script>-->
    <!--<script src="../js/controllers/index.js"></script>-->
    <script src="../js/controllers/admin_product.js"></script>
    <script src="../js/controllers/index.js"></script>

    <script src="../js/service/configure.js"></script>
    <script src="../js/service/product.js"></script>
    <script src="../js/service/account.js"></script>
    <script src="../js/service/login.js"></script>
    <title>客户问题反馈平台</title>
</head>
<body ng-app="adminProduct"  ng-controller="adminProductController">

    <nav class="navbar" role="navigation">
        <div id="nav-content">
            <div class="navbar-header col-sm-5">
                <a id="admin_logo" href="javascript:void(0)" class="navbar-brand "></a>
            </div>
            <div>
                <ul class="nav navbar-nav col-sm-7">
                    <li><a href="javascript:void(0)" id="thisclass">产品</a></li>
                    <li><a href="customer_manage.html">客户管理</a></li>
                    <li class="" ng-mouseenter="accManageToggle()" ng-mouseleave="accManageToggle2()">
                        <a class="pointer"><i>账户管理</i> <b class="caret"></b></a>
                        <ul class="dropdown"  ng-show="accManage.show" ng-mouseleave="accManageToggle2()">
                            <li ng-click="toCusAccount()"><a>客户账户</a></li>
                            <li ng-click="toAdmAccount()"><a>售后账户</a></li>
                        </ul>
                    </li>
                    <li id="myCenter" ng-mouseenter="logOutToggle()" ng-mouseleave="logOutToggle2()">
                        <a ng-click="toMyCenter()" class="pointer" title="{{username}}"><i ng-bind="username"></i> <b class="caret"></b></a>
                        <ul class="dropdown"  ng-show="logOutPanel.show" ng-mouseleave="logOutToggle2()">
                            <li><a ng-click="logOut()">退出登录</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <section>
        <div class="admin-list-section"  ng-hide="productListPage.show">

            <div id="product_list" class="container-fluid">

                <!--产品页顶部-->
                <div class="table-head">
                    <div class="add_product" ng-click="addProduct()">
                    <a><strong class="glyphicon glyphicon-plus"></strong> 新增</a>
                    </div>
                    <div class="refresh_product" ng-click="refreshProduct()">
                        <a><strong class="glyphicon glyphicon-refresh"></strong> 刷新</a>
                    </div>
                </div>

                <!--产品页列表-->
                <table class="admin_table">
                    <thead>
                    <tr>
                        <th width="5%" align="center">序号</th>
                        <th width="26%" align="left">名称</th>
                        <th width="38%" align="left">描述</th>
                        <th width="18%">负责人</th>
                        <th width="8%">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr id="admin_list_table" ng-repeat="info in product_list">
                        <td align="center" ng-bind="$index+1"></td>
                        <td align="left" ng-bind="info.productCatalogName" title="{{info.productCatalogName}}"></td>
                        <td align="left"  ng-bind="info.productCatalogNote" title="{{info.productCatalogNote}}"></td>
                        <td align="left" ng-bind="info.productCatalogPrincipal" title="{{info.productCatalogPrincipal}}"></td>
                        <td align="center">
                            <div>
                                <a class="glyphicon glyphicon-edit" title="编辑" ng-click="editProShow(info.productCatalogId)"></a>&nbsp;&nbsp;&nbsp;
                                <a class="glyphicon glyphicon-trash" title="删除" ng-click="deletePro1(info.productCatalogId)"></a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="table-foot"></div>
            </div>
        </div>
        <!--产品编辑页-->
        <div  class="edit_admin_section"  ng-show="productListPage.show">
            <form class="form-horizontal" role="form" id="editProductItem">
                <div class="form-group"><strong>编辑 - 产品</strong></div>
                <div class="form-group">
                    <label for="editProductName" class="col-sm-4 control-label"><b class="required">*&nbsp;</b>名称：</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="editProductName" ng-blur="editProName(productCName)" ng-model="productCName" placeholder="请输入产品名称" style="float: left"/>
                    </div>
                    <p class="warn-info col-sm-4" ng-show="editRequired.show"><i class="glyphicon glyphicon-warning-sign"></i> 此项必填!</p>
                    <p class="warn-info col-sm-4" ng-show="editNameTooLong.show"><i class="glyphicon glyphicon-warning-sign"></i> 输入过长!</p>
                </div>

                <div class="form-group">
                    <label for="editProductPrincipal" class="col-sm-4 control-label">负责人：</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="editProductPrincipal" ng-blur="editProPrincipal(productCPrincipal)" ng-model="productCPrincipal" placeholder="请输入负责人"/>
                    </div>
                    <p class="warn-info col-sm-4" ng-show="editPrincipalTooLong.show"><i class="glyphicon glyphicon-warning-sign"></i> 输入过长!</p>
                </div>
                <div class="form-group">
                    <label for="editProductNote" class="col-sm-4 control-label">描述：</label>
                    <div class="col-sm-4">
                        <textarea rows="5" class="form-control text-describe" id="editProductNote" ng-blur="editProNote(productCNote)" ng-model="productCNote" placeholder="请输入描述"></textarea>
                    </div>
                    <p class="warn-info col-sm-4" ng-show="editNoteTooLong.show"><i class="glyphicon glyphicon-warning-sign"></i> 输入过长!</p>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label"></label>
                    <div class="col-sm-4">
                        <input type="button" id="cancel2" class="form-control btn btn-grey" ng-click="editProHide()" value="取消"/>
                        <input type="button" id="save2" class="form-control btn btn-info" ng-click="editSave(productCName,productCPrincipal,productCNote)" value="保存"/>
                        <!--<input id="save2" class="form-control btn btn-success" ng-click="editSave(productName,productPrincipal,productNote,productId)" value="保存"/>-->
                    </div>
                </div>
            </form>
        </div>

    </section>

</body>
</html>
