<div id="modal_addFollowStatus">
    <form>
        <table>
            <thead>

                <div id="myModalLabel2">
                    <p>信息提示</p>
                </div>

                <div id="close_modal">
                    <a ng-click="close_modal()"><span class="glyphicon glyphicon-remove"></span></a>
                </div>
            </thead>

            <tbody>
            <tr>
                <td class="tab_info">{{info}}</td>

            </tr>
            <tr>
                <td class="tab_time">( 2秒后关闭 )</td>

            </tr>
            </tbody>

        </table>
        <div class="addBtn">
            <input type="submit" ng-click="close_modal()" class="btn btn-info" value="关闭"/>
        </div>
    </form>

</div>
